@import "variables.css";
@import "navbar.css";
@import "footer.css";

/*--------------*/
/* CONTENT     */
/*------------*/
/*
POSITIONS

FONTS
    -TITLES
    -PARAGRAPHS
    -WEIGHTS
    -HEROTITLE

BUTTONS
    -SIZES
    -COLOR VARIATIONS
    -SHAPES
    -CALL-TO-ACTION (CTA)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*--------------*/
/* POSITIONS   */
/*------------*/
.column {
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------*/
/* FONTS       */
/*------------*/

/* TITLES */
.title-large {font-size: var(--title-large); font-family: var(--title-font);}
.title-default {font-size: var(--title-default); font-family: var(--title-font);}
.title-small {font-size: var(--title-small); font-family: var(--title-font);}
.title-xsmall {font-size: var(--title-xsmall); font-family: var(--title-font);}

/* PARAGRAPHS */
.text-large {font-size: var(--font-large); font-family: var(--text-font);}
.text-default {font-size: var(--font-default); font-family: var(--text-font);}
.text-small {font-size: var(--font-small); font-family: var(--text-font);}
.text-xsmall {font-size: var(--font-xsmall); font-family: var(--text-font);}
p, span, div{
  font-family: var(--text-font);
  font-size: var(--font-default);
  line-height: 1.5rem;
}


/* WEIGHTS */
.bold {font-weight: 700;}
.semi-bold { font-weight: 600;}
.regular {font-weight: 400;}
.light {font-weight: 300;}
.italic{font-style: italic;}

/* SPECIAL */
.title-hero {
  font-size: var(); 
  font-family: var(--title-font);
  color: var(--secondary);
  z-index: 10;
}


/*--------------*/
/* BUTTONS     */
/*------------*/

/* SIZE */
.button-small {
  height: 4vh;
  width: 20vw;
}

.button-medium {
  height: 5vh;
  width: 40vw;
}

.button-large {
  height: 6vh;
  width: 50vw;
}

/* COLORVARIATIONS */
.button-solid--cream {
  background-color: var(--elevated-background);
  border: 0px;
}

.button-solid--green {
  background-color: var(--secondary);
  color: var(--white);
  border: 0px;
}

.button-solid--blue {
  background-color: var(--accent);
  color: var(--white);
  border: 0px;
}

.button-stroke--green {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.button-stroke--blue {
  background-color: transparent;
  color: var(--accent);
  border: 2px solid var(--accent);
}

/* SHAPES */
.button-square {
  border-radius: var(--border-squared); 
  padding: var(--space-small) var(--space-medium);
}
.button-round {
  border-radius: var(--border-rounded); 
  padding: var(--space-small);
}

/* SPECIAL */
.button-cta {
  color: var(--primary);
  background: linear-gradient(90deg, #6D8D6A 14.87%, #A5C7A2 102.56%);
  border: 0px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

/* sökfunktionen */

#searchbar {
  height: 30px;
  width: 300px;
  margin: 20px 0 0 200px;
  background-color: rgba(255, 255, 255, 0.3);
}
#search-results {
  width: 500px;
  min-height: 500px;
  border: 1px solid black;
  margin: 20px 50px 0 200px;
}
#search-words-pills {
  margin: 20px 0 0 200px;
  min-height: 30px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pill {
  display: flex;
  flex-direction: row;
  height: 20px;
  min-width: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
}
.remove-pill {
  border: none;
  background-color: transparent;
  width: 20px;
  cursor: pointer;
}
.search-result-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.programme-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 30%;
}
.programme-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}
.programme-card-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.programme-card-info > div > p {
  font-size: 15px;
  margin-left: 5px;
}
.programme-card-level-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-button {
  width: 30%;
}
.card-title {
  max-width: 50%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.flex-row > p {
  margin-left: 7px;
}
.bookmark {
  position: absolute;
  top: 0;
  left: 85%;
}

.filled > svg {
  background-color: red;
}

svg {
  pointer-events: none;
}

.card-button-div {
  display: flex;
  justify-content: flex-end;
}

/* DETAIL PAGE */
.detail-hero{
  height: calc( 100vh - var(--nav-height) );
  display: grid;
  grid-template-rows: 1fr 20%;
}

.detail-hero header{
  /* för att positionera bild */
  position: relative;
}

.detail-hero .title-wrapper{
  padding: var(--space-medium);
  background-color: var(--overlay);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; 
  color: white;
}

.detail-hero span{
  padding: var(--space-small) 0px;
}

.detail-hero .bg-image, .detail-city .bg-image{
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* quick info with icon section */
.detail-hero section{
  display: flex;
  flex-wrap: wrap;

  margin: var(--space-medium);
}

.detail-hero section > div{
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.detail-hero .icon{
  display: grid;
  place-content: center;
  margin-right: var(--space-small);
}

.detail-hero .icon svg{
  height: 16px;
  width: 16px;
}

.detail-stats{
  background-color: var(--accent);
  padding-top: var(--space-large);
  padding-bottom: var(--space-xlarge);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-medium);

  color: white;
}

.detail-section-title {
  padding-top: var(--space-large);
}
.detail-section-sub {
  padding-top: var(--space-medium);
}



.detail-title {
  padding-top: var(--space-large);
  padding-bottom: var(--space-medium);
}
.detail-sub {
  padding-top: var(--space-small);
  padding-bottom: var(--space-small);
}
.bg-image{
  width: 100%;
  height: 100%;
}

.detail-school > section {
  padding-top: var(--space-medium);
} 

.detail-school-sections h3:nth-child(2){
  padding-top: var(--space-small);
}

.detail-school sections > div{
  margin-bottom: 5px;
} 
.detail-city{
  padding: var(--space-large) 0px;
}

.detail-city .intro{
  padding-bottom: var(--space-large);
}

/* header img with title wrapper */
.detail-city .intro > div{
  position: relative;
  width: 100vw;
  right: var(--space-medium);
  height: 35vh;
  margin-bottom: var(--space-medium);
}

.detail-city h2{
  color: var(--primary);
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
  padding-left: var(--space-medium);
}

.detail-weather-city{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-weather-city > *:first-child{
  flex-basis: 85px;
}
.detail-weather-city > *:last-child{
  flex-grow: 1;
}

.detail-weather-bar > *{
  background-color: var(--secondary);
  text-align: right;
  padding: 5px var(--space-small) 5px 5px;
  color: white;
}

figcaption{
  padding: 5px 0px var(--space-medium);
}

/* REVIEW CAROUSELL */
/* override the screen margin */
.card-carousell{
  padding: var(--space-medium) 0px;
  width: 100vw;
  position: relative;
  right:  var(--space-medium);
}

.card-wrapper, .blob-wrapper, .detail-body, .index-wrapper{
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}

.card-wrapper{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  padding-bottom: var(--space-medium);
  padding-top: 5px;

  width: calc (auto + var(--space-large));
  
}

.card{
  scroll-snap-align: center;

  min-width: calc( 100vw - ( var(--space-medium) * 2 ) );
  background-color:#FAFAF9;
  margin-left: var(--space-medium);
  display: grid;
  border-radius: var(--border-squared);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.card-deco{
  color: var(--secondary);
  font-size: var(--title-large);
}

.card:last-child{
  margin-right: var(--space-medium);
  /* border-right: var(--space-medium) solid black; */
}

.card-alias{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-review{
  display: grid;
  padding: var(--space-medium);
  padding-bottom: var(--space-small);
}
.card-review > p{
  height: 150px;
}

.card-rating{
  background-color: #617AB0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-medium);
  padding-top: var(--space-small);
}

.card-rating > *:nth-child(2){
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.card-rating *{
  color: var(--primary);
  flex-grow:1;
  display: grid;
  place-content: center;
}

.blob-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blob{
  height: 10px;
  width: 10px;
  margin: 0px 3px 3px;
  border-radius: var(--border-round);
  background-color: var(--gray);
}

.blob-wrapper .active{
  background-color: var(--accent);
}

/* INDEX */

.c-container {
  width: 100vw;
  overflow-x: hidden;

  position: absolute;
  z-index: -1;
  top: -7em;
}
.circle {
  position: relative;
  right: 4em;
  background-color: var(--secondary);
  border-radius: var(--border-round);
}
.c-container.bottom {
  top: -20em;
}

.pin-header {
  position: absolute;
  z-index: 0;
  top: -2em;
  left: -1em;
}

.hero {
  position: relative;
  height: calc( 100vh -  ( var(--nav-height) +  ( var(--space-medium) * 2) ));

  margin-top: var(--space-medium);
  margin-bottom: var(--space-medium);
  padding: var(--space-medium);
  background-color: var(--elevated-background);
  border-radius: var(--border-squared);

  flex-direction: column;
  gap: var(--space-small);

  text-align: center;
}

.globe-render {
  background-color: var(--accent);
  width: calc(90vw - calc( (var(--space-large)) * 2) );
  height: calc(90vw - calc( (var(--space-large)) * 2) );
  border-radius: var(--border-round);
}

.brand-info {
  padding: var(--space-medium);
  flex-direction: column;
  gap: var(--space-small);

  /* background-color: var(--primary); */
  color: var(--secondary);
  text-align: center;
}

.countryElement {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.country-info {
  margin: var(--space-medium);
  flex-basis: 25%;

  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.country-img {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: var(--space-small);

  background-size: cover;
  background-position: center;
}
.country-img > a {
  color: var(--black);
}

#white-icon > svg > path {
  stroke: var(--primary);
}

.compare-info-section {
  position: relative;

  padding: var(--space-medium);

  flex-direction: column;
  gap: var(--space-small);
  
  color: var(--primary);
}
.compare-info-section > h2 {
  width: 100%;
}

.c-button-container {
  width: 100%;

  display: flex;
  justify-content: end;
}
.c-button-container > a { color: var(--secondary); }
.c-button-container svg path { stroke: var(--secondary);}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
}

.table > div:nth-child(4n),
.table > div:nth-child(4n-1) {
  background-color: var(--elevated-background);
}

#comparison {
  display: flex;
  position: relative;
  left: 0vw;
  transition: ease-in-out 0.5s;
}

.program-list {
  width: 100vw;
  flex-shrink: 0;
}

body {
  overflow-x: hidden;
}