@import "variables.css";
@import "navbar.css";
@import "footer.css";

/*--------------*/
/* CONTENT     */
/*------------*/
/*
POSITIONS

FONTS
    -TITLES
    -PARAGRAPHS
    -WEIGHTS
    -HEROTITLE

BUTTONS
    -SIZES
    -COLOR VARIATIONS
    -SHAPES
    -CALL-TO-ACTION (CTA)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*--------------*/
/* POSITIONS   */
/*------------*/
.column {
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------*/
/* FONTS       */
/*------------*/

/* TITLES */
.title-large {font-size: var(--title-large); font-family: var(--title-font);}
.title-default {font-size: var(--title-default); font-family: var(--title-font);}
.title-small {font-size: var(--title-small); font-family: var(--title-font);}
.title-xsmall {font-size: var(--title-xsmall); font-family: var(--title-font);}

/* PARAGRAPHS */
.text-large {font-size: var(--font-large); font-family: var(--text-font);}
.text-default {font-size: var(--font-default); font-family: var(--text-font);}
.text-small {font-size: var(--font-small); font-family: var(--text-font);}
.text-xsmall {font-size: var(--font-xsmall); font-family: var(--text-font);}
p, span, div{
  font-family: var(--text-font);
  font-size: var(--font-default);
  line-height: 1.3rem;
}


/* WEIGHTS */
.bold {font-weight: 700;}
.semi-bold { font-weight: 600;}
.regular {font-weight: 400;}
.light {font-weight: 300;}
.italic{font-style: italic;}

/* SPECIAL */
.title-hero {
  font-size: var(); 
  font-family: var(--title-font);
  color: var(--secondary);
  z-index: 10;
}

/*--------------*/
/* BUTTONS     */
/*------------*/

/* SIZE */
.button-small {
  height: 4vh;
  width: 20vw;
}

.button-medium {
  height: 5vh;
  width: 40vw;
}

.button-large {
  height: 6vh;
  width: 50vw;
}

/* COLORVARIATIONS */
.button-solid--cream {
  background-color: var(--elevated-background);
  border: 0px;
}

.button-solid--green {
  background-color: var(--secondary);
  color: var(--white);
  border: 0px;
}

.button-solid--blue {
  background-color: var(--accent);
  color: var(--white);
  border: 0px;
}

.button-stroke--green {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.button-stroke--blue {
  background-color: transparent;
  color: var(--accent);
  border: 2px solid var(--accent);
}

/* SHAPES */
.button-square {
  border-radius: var(--border-squared); 
  padding: var(--space-small) var(--space-medium);
}
.button-round {
  border-radius: var(--border-rounded); 
  padding: var(--space-small);
}

/* SPECIAL */
.button-cta {
  color: var(--primary);
  background: linear-gradient(90deg, #6D8D6A 14.87%, #A5C7A2 102.56%);
  border: 0px;
  padding-left: var(--space-large);
  padding-right: var(--space-large);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

/* sökfunktionen */

#searchbar {
  height: 30px;
  width: 60vw;
  margin: 20px 0 0 200px;
  background-color: rgba(255, 255, 255, 0.3);
}
#search-results {
  width: 500px;
  min-height: 500px;
  border: 1px solid black;
  margin: 20px 50px 0 200px;
}
#search-words-pills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--space-small);
}
.pill {
  display: flex;
  flex-direction: row;
  height: 20px;
  min-width: 70px;
  justify-content: space-between;
  align-items: center;
  
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px;
}
.remove-pill {
  border: none;
  background-color: transparent;
  width: 20px;
  cursor: pointer;
}
.search-result-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.programme-image {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 30%;
}
.programme-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}
.programme-card-info > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.programme-card-info > div > p {
  font-size: 15px;
  margin-left: 5px;
}
.programme-card-level-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-button {
  width: 30%;
}
.card-title {
  max-width: 50%;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.flex-row > p {
  margin-left: 7px;
}
.bookmark {
  position: absolute;
  top: 0;
  left: 85%;
}

.filled > svg {
  background-color: red;
}
.sort-and-filter {
  margin: 20px 0 0 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}
svg {
  pointer-events: none;
}

.card-button-div {
  display: flex;
  justify-content: flex-end;
}

#filters {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: 100;
}
#close {
  position: absolute;
  top: 5px;
  right: 5px;
}
#filter-options > div {
  margin: 30px 0 0 150px;
}
#level-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 5vh;
  border: 1px solid black;
  border-radius: 30px;
}
#level-options > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#level-options > div:nth-child(2) {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#level-options > div:nth-child(1) {
  border-radius: 30px 0px 0px 30px;
}
#level-options > div:nth-child(3) {
  border-radius: 0px 30px 30px 0px;
}
.selected {
  background-color: var(--secondary);
}
#points-slider-div {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#points-slider {
  width: 50vw;
}
#sundays-options {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#sundays-options > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#sundays-slider {
  width: 50vw;
}
#language-options {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#language-options > div {
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
}
#visum-options {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* DETAIL PAGE */
.detail-hero{
  height: calc( 100vh - var(--nav-height) );
  display: grid;
  grid-template-rows: 1fr 20%;
}

.detail-hero header{
  /* för att positionera bild */
  position: relative;
}

.detail-hero .title-wrapper{
  padding: var(--space-medium);
  background-color: var(--overlay);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%; 
  color: white;
}

.detail-hero span{
  padding: var(--space-small) 0px;
}

.detail-hero .bg-image, .detail-city .bg-image{
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* quick info with icon section */
.detail-hero section{
  display: flex;
  flex-wrap: wrap;

  margin: var(--space-medium);
}

.detail-hero section > div{
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.detail-hero .icon{
  display: grid;
  place-content: center;
  margin-right: var(--space-small);
}

.detail-hero .icon svg{
  height: 24px;
  width: 24px;
}

.detail-stats{
  background-color: var(--accent);
  padding-top: var(--space-large);
  padding-bottom: var(--space-xlarge);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-medium);

  color: white;
}

.detail-section-title {
  padding-top: var(--space-large);
}
.detail-section-sub {
  padding-top: var(--space-medium);
}



.detail-title {
  padding-top: var(--space-large);
  padding-bottom: var(--space-medium);
}
.detail-sub {
  padding-top: var(--space-small);
  padding-bottom: var(--space-small);
}

/* REVIEW CAROUSELL */
.card-carousell {
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}
.card-wrapper{
  padding: var(--space-small) 0px;
}
.bg-image{
  width: 100%;
  height: 100%;
}

.detail-school > section {
  padding-top: var(--space-medium);
} 

.detail-school-sections h3:nth-child(2){
  padding-top: var(--space-small);
}

.detail-school sections > div{
  margin-bottom: 5px;
} 
.detail-city{
  padding: var(--space-large) 0px;
}

.detail-city .intro{
  padding-bottom: var(--space-large);
}

/* header img with title wrapper */
.detail-city .intro > div{
  position: relative;
  width: 100vw;
  right: var(--space-medium);
  height: 35vh;
  margin-bottom: var(--space-medium);
}

.detail-city h2{
  color: var(--primary);
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
  padding-left: var(--space-medium);
}

.detail-weather-city{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-weather-city > *:first-child{
  flex-basis: 85px;
}
.detail-weather-city > *:last-child{
  flex-grow: 1;
}

.detail-weather-bar > *{
  background-color: var(--secondary);
  text-align: right;
  padding: 5px var(--space-small) 5px 5px;
  color: white;
}

figcaption{
  padding: 5px 0px var(--space-medium);
}

/* REVIEW CAROUSELL */
/* override the screen margin */
.card-carousell{
  padding: var(--space-medium) 0px;
  width: 100vw;
  position: relative;
  right:  var(--space-medium);
}

.card-wrapper, .blob-wrapper, .detail-body, .index-wrapper{
  padding-left: var(--space-medium);
  padding-right: var(--space-medium);
}

.card-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  margin-bottom: var(--space-small);
}

.card-wrapper::webkit-scrollbar {
  display: none;
  padding-bottom: var(--space-medium);
  padding-top: 5px;

  width: calc (auto + var(--space-large));
  
}

.card {
  scroll-snap-align: center;
  min-width: 85vw;
  background-color: #fafaf9;
  margin-left: var(--space-small);
  margin-right: var(--space-small);
  display: grid;
  border-radius: var(--border-squared);
  overflow: hidden;
  box-shadow: var(--shadow);
  scrollbar-width: none; /* Firefox */
}

.card-deco{
  color: var(--secondary);
  font-size: var(--title-large);
}

.card:last-child{
  margin-right: var(--space-medium);
  /* border-right: var(--space-medium) solid black; */
}

.card-alias {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-review {
  display: grid;
  padding: var(--space-medium);
  padding-bottom: var(--space-small);
}
.card-review > p {
  height: 150px;
}

.card-rating {
  background-color: var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-medium);
  padding-top: var(--space-small);
}

.card-rating > *:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.card-rating * {
  color: var(--primary);
  flex-grow: 1;
  display: grid;
  place-content: center;
}

.blob-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blob {
  height: 10px;
  width: 10px;
  margin: 0px 3px 3px;
  border-radius: var(--border-round);
  background-color: var(--primary);
}

.blob-wrapper .active {
  background-color: var(--accent);
}

/* INDEX */

.c-container {
  width: 100vw;
  overflow-x: hidden;

  position: absolute;
  z-index: -1;
  top: -7em;
}
.circle {
  position: relative;
  right: 4em;
  background-color: var(--secondary);
  border-radius: var(--border-round);
}
.c-container.bottom {
  top: -20em;
}

.pin-header {
  position: absolute;
  z-index: 0;
  top: -2em;
  left: -1em;

  display: none;
}

.hero {
  position: relative;

  margin-top: var(--space-medium);
  margin-bottom: var(--space-medium);
  padding: var(--space-large);
  background-color: var(--elevated-background);
  border-radius: var(--border-rounded);

  flex-direction: column;
  gap: var(--space-medium);

  text-align: center;
}

.globe-wrapper{
  width: calc(90vw - calc( (var(--space-large)) * 2) );
  height: calc(90vw - calc( (var(--space-large)) * 2) );
  overflow: hidden;
  background-color: #5185B7;
  border-radius: var(--border-round);

  display: flex;
  justify-content: center;
  align-items: center;
}

.globe-render {
  width: 130% ;
  height: 130% ;
}

.brand-info {
  padding: var(--space-medium);
  flex-direction: column;
  gap: var(--space-small);

  /* background-color: var(--primary); */
  color: var(--secondary);
  text-align: center;
}

.countryElement {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.country-info {
  margin: var(--space-medium);
  flex-basis: 25%;

  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.country-img {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding: var(--space-small);

  background-size: cover;
  background-position: center;
}
.country-img > a {
  color: var(--black);
}

#white-icon > svg  {
  fill: var(--primary);
}
#white-icon{
  padding-right: var(--space-small)
}

.compare-info-section {
  position: relative;

  padding: var(--space-medium);

  flex-direction: column;
  gap: var(--space-small);
  
  color: var(--primary);
}
.compare-info-section > h2 {
  width: 100%;
}

.c-button-container {
  width: 100%;

  display: flex;
  justify-content: end;
}
.c-button-container > a { color: var(--secondary); }
.c-button-container svg path { stroke: var(--secondary);}

/* COMPARE */

.compare-header {
  color: var(--black);
  gap: var(--space-small);
  padding: var(--space-medium);
}
.compare-header > h1, .compare-header > p {
  text-align: center;
}

.search-wrapper {
  position: relative;
  width: 100%;

  border: 2px solid black;
  border-radius: var(--border-rounded);
  padding: 5px var(--space-medium);

  display: flex;
  align-items: center;
}

.search-bar {
  flex-grow: 1;
  border: none;
}

.programme-list {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;

  background-color: var(--primary);
  width: 100%;
  max-height: 50vh;

  padding: var(--space-small);
  padding-top: var(--space-medium);
  border-radius: var(--border-squared);
  box-shadow: 0px 0px 10px gray;
  z-index: 10;
  overflow-y: scroll;
}

.close-list {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.title-favorites {
  background-color: var(--elevated-background);
  list-style-type: none;
}

.option {
  border-bottom: 1px solid var(--gray);
  cursor: pointer;

  padding: var(--space-small) 0;
}
.option:last-child { border-bottom: none;}

#menu {
  color: var(--primary);
  background-color: var(--accent);

  border-radius: var(--border-rounded);
  margin: 0 var(--space-medium);
  padding: var(--space-small);
}

#menu i { display: flex; cursor: pointer; }
#menu i svg path { stroke: var(--primary); }

#menu > span {
  flex-grow: 1;
  inline-size: 0;
  overflow: clip;
  text-align: center;
  white-space: nowrap;
}

#comparison--container {
  overflow: hidden;
}

#comparison {
  display: flex;
  transition: ease-in-out 0.5s;
  position: relative;
  left: 0vw;
}

.program-list {
  width: 100vw;
  flex-shrink: 0;

  padding: var(--space-medium);
  
  display: flex;
  flex-direction: column;
  gap: var(--space-medium);
}

.table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;

  border: 1px solid var(--gray);
}

.table-title { margin-bottom: var(--space-small);}

.table > div, .table--list > div {
  padding: var(--space-small);
}

.table > div:nth-child(4n),
.table > div:nth-child(4n-1) {
  background-color: var(--gray);
}

.table--list { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-small);

  border: 1px solid gray; 
}

.table--list > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}
.table--list > div:first-child { background-color: var(--gray);}
.table--list > div:last-child { border-bottom: none;}

body {
  overflow-x: hidden;
}

/* ADS */
.ad{
  padding: 0;
  position: relative;
  right: var(--space-medium);
  width: 100vw;
}
.ad div{
  background-color: var(--elevated-background);
  padding: 3px var(--space-medium);
}

.ad img{
  background-color: var(--elevated-background);
}

.ad-hori img{
  width: 100%;
  padding-bottom: var(--space-small);
}

.ad-kvad img{
 padding: 0px var(--space-medium) var(--space-medium);
 background-color: var(--elevated-background);
 width: 100%;
}
