/*--------------*/
/* VARIABLES   */
/*------------*/
/*
COLORS
TITLE SIZES
TEXT SIZES
TITLE SIZES
MARGINS
BORDER RADIUS
SHADOWS
*/

:root {
/*--------------*/
/* COLORS      */
/*------------*/

  --primary: #FAFAF9;
  --secondary: #6D8E6A;
  --accent: #617AB0;
  --elevated-background: #F1F1F1;
  --black: #373734;

  --gray:#848481;
  --overlay: #3737348e;


/*--------------*/
/* TITLE SIZES */
/*------------*/

--title-large: 1.8rem;
--title-default: 1.6rem;
--title-small: 1.4rem;
--title-xsmall: 1.2rem;


/*--------------*/
/* TEXT FONTS */
/*------------*/

--title-font: 'Raleway';
--text-font: 'Open Sans';

/*--------------*/
/* TEXT SIZES  */
/*------------*/

--font-xsmall: 0.6rem;
--font-small: 0.7rem;
--font-default: 0.8rem;
--font-large: 1rem;


/*--------------*/
/* MARGINS     */
/*------------*/

  --space-small: 10px;
  --space-medium: 17.5px;
  --space-large: 35px;
  --space-xlarge: 45px;

  --nav-height: 60px;
  --hero-height: 100vh;
  
/*--------------*/
/* ICONS       */
/*------------*/

  --icon-small: var(--space-medium);
  --icon-medium: calc(var(--space-medium) + var(--space-small));


/*--------------*/
/*BORDER RADIUS*/
/*------------*/

  --border-round: 50%;
  --border-squared: 5px;
  --border-rounded: 2em;


/*--------------*/
/* SHADOWS     */
/*------------*/
  --shadow: 0px 0px 5px var(--overlay);
}