/*--------------*/
/* VARIABLES   */
/*------------*/
/*
COLORS
TITLE SIZES
TEXT SIZES
TITLE SIZES
MARGINS
BORDER RADIUS
SHADOWS
*/

:root {
/*--------------*/
/* COLORS      */
/*------------*/

  --primary: white;
  --secondary: #6D8E6A;
  --accent: #617AB0;
  --elevated-background: #FAFAF9;
  --black: black;

  --gray:rgb(161, 161, 161);
  --overlay: rgba(0, 0, 0, 0.5);


/*--------------*/
/* TITLE SIZES */
/*------------*/

    --title-large: 2rem;
    --title-default: 1.8rem;
    --title-small: 1.6rem;
    --title-xsmall: 1.4rem;

/*--------------*/
/* TEXT SIZES  */
/*------------*/

  --font-xsmall: 0.6rem;
  --font-small: 0.8rem;
  --font-default: 1rem;
  --font-large: 1.2rem;


/*--------------*/
/* MARGINS     */
/*------------*/

  --space-small: 10px;
  --space-medium: 17.5px;
  --space-large: 35px;

  
/*--------------*/
/* ICONS       */
/*------------*/

  --icon-small: var(--space-medium);
  --icon-medium: calc(var(--space-medium) + var(--space-small));


/*--------------*/
/*BORDER RADIUS*/
/*------------*/

  --border-round: 50%;
  --border-squared: 5%;


/*--------------*/
/* SHADOWS     */
/*------------*/
  --shadow: 0px 0px 2px var(--black);
}