/*--------------*/
/* VARIABLES   */
/*------------*/

:root {
  /* > text sizes  */

  --font-xsmall: 0.6rem;
  --font-small: 0.8rem;
  --font-default: 1rem;
  --font-large: 1.2rem;

  /* > margin sizes */

  --space-small: 10px;
  --space-medium: 17.5px;
  --space-large: 35px;

  /* > iconer */

  --icon-small: var(--space-medium);
  --icon-small: calc(var(--space-medium) + var(--space-small));

  /* > specials */

  --border-round: 50%;
  --border-squared: 5%;
  --shadow: 0px 0px 2px var(--black);

  /* > colors */

  --primary: white;
  --secondary: green;
  --accent: blue;
  --elevated-background: grey;
  --black: black;
}

/*--------------*/
/* FONTS       */
/*------------*/

    /*title size*/
    .title-large {font-size: var(--font-large)}
    .title-medium {font-size: var(--font-default)}
    .title-small {font-size: var(--font-small)}
    .title-xsmall {font-size: var(--font-xsmall)}

    /*  paragraph size  */
    .text-small {}
    .text-default {}
    .text-large {}

    /* weight */
    .bold {}
    .light {}

    /* special */
    .title-hero {}

/*--------------*/
/* BUTTONS     */
/*------------*/

    /* button size */
    .button-small {}
    .button-medium {}
    .button-large {}

    /* button color */
    .button-solid {}
    .button-stroke {}

    /*shape*/
    .button-square {}
    .button-round {}

    /* special */
    .button-cta {}